In [3]:
import kagglehub
import pandas as pd

# Download latest version
path = kagglehub.dataset_download("altavish/boston-housing-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\lucas\.cache\kagglehub\datasets\altavish\boston-housing-dataset\versions\1

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("C:/Users/lucas/Documents/Meus-Projetos/Ciencia de dados/HousingData.csv")

# Mostrar as primeiras linhas do dataset
print("Primeiras 5 linhas do dataset:")
display(df.head())

# Mostrar informações sobre o dataset
print("\nInformações do dataset:")
display(df.info())

# Mostrar estatísticas descritivas
print("\nEstatísticas descritivas:")
display(df.describe())

Primeiras 5 linhas do dataset:

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

Informações do dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

None

Estatísticas descritivas:

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [17]:
import matplotlib.pyplot as plt
import seaborn as sns

# Configurar o estilo dos gráficos
plt.style.use('seaborn')
plt.figure(figsize=(15, 10))

# Criar boxplots para todas as variáveis numéricas
plt.subplot(2, 2, 1)
sns.boxplot(data=df)
plt.xticks(rotation=45)
plt.title('Boxplot de todas as variáveis')

# Criar boxplot específico para MEDV (preço das casas)
plt.subplot(2, 2, 2)
sns.boxplot(y=df['MEDV'])
plt.title('Boxplot do Preço das Casas (MEDV)')

# Criar scatter plot de RM vs MEDV (número de quartos vs preço)
plt.subplot(2, 2, 3)
plt.scatter(df['RM'], df['MEDV'])
plt.xlabel('Número médio de quartos (RM)')
plt.ylabel('Preço da casa (MEDV)')
plt.title('Relação entre Número de Quartos e Preço')

# Criar scatter plot de LSTAT vs MEDV (status social vs preço)
plt.subplot(2, 2, 4)
plt.scatter(df['LSTAT'], df['MEDV'])
plt.xlabel('Status social mais baixo (LSTAT)')
plt.ylabel('Preço da casa (MEDV)')
plt.title('Relação entre Status Social e Preço')

plt.tight_layout()
plt.show()

# Criar matriz de correlação
plt.figure(figsize=(12, 8))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm', center=0)
plt.title('Matriz de Correlação')
plt.show()

# Criar pairplot para as variáveis mais relevantes
variaveis_importantes = ['RM', 'LSTAT', 'PTRATIO', 'MEDV']
sns.pairplot(df[variaveis_importantes])
plt.show()

OSError: 'seaborn' is not a valid package style, path of style file, URL of style file, or library style name (library styles are listed in `style.available`)